@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "CareYourSkin";
}


<h1>Welcome to the CareYouSkin </h1>
<p>*********Admin Panel************  </p>
@if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "Admin")
{
    <h3>Hi,  @HttpContextAccessor.HttpContext.Session.GetString("Username")! You are logged in as .</h3>

}
else
{
    <p>Please log in or register to continue.</p>
}